.settings
  display: flex
  justify-content: space-between
  margin-bottom: 20px
.fa-th, .fa-list-ul, .fa-sun, .fa-moon
  font-size: 25px
  color: secondary
  transition: .3s
  &:hover
    color: primary
    cursor: pointer
  &:active
    transform: scale(1.4)