.search-bar-container, .search-bar-container-dark
  padding: 20px
  border-bottom: 1px solid secondary
.search-bar-container
  background-color: light
.search-bar-container-dark
  background-color: dark
.input
  width: 100%
  padding: 12px 10px
  font-size: 18px
  border-radius: 20px
  border: 1px solid secondary
  text-indent: 10px
  transition: .3s
  box-sizing: border-box
  &:focus
    outline: none
    border: 1px solid primary
  &::selection
    color: light
    background: primary
.search-bar-container-dark .input
  background-color: black
  border: none
  color: light
.fa-times, .fa-search
  color: secondary
  font-size: 22px
  position: absolute
  top: 10px
  right: 10px
  &:hover
    transition: .3s
    cursor: pointer
    color: primary
.search-container
  position: relative
  width: 50%
  margin: auto