.search-bar-container
  background: light
  padding: 20px
  border-bottom: 1px solid secondary
.input
  width: 100%
  padding: 12px 10px
  font-size: 18px
  border-radius: 20px
  border: 1px solid secondary
  text-indent: 10px
  transition: .3s
  box-sizing: border-box
  &:focus {
    outline: none
    border: 1px solid primary
  }
  &::selection {
    color: light
    background: primary
  }
  @media(max-width: 767px) {
    font-size: 18px
  }
.fa-times, .fa-search
  color: secondary
  font-size: 22px
  position: absolute
  top: 10px
  right: 10px
  &:hover {
    transition: .3s
    cursor: pointer
    color: primary
  }
.search-container
  position: relative
  width: 50%
  margin: auto
  @media(max-width: 769px) {
    width: 80%
  }
  @media(max-width: 620px) {
    width: 100%
  }