.track-container
  width: 80%
  margin: 20px auto 20px auto
  transition: .3s
// Box view
.track-grid-box
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 10px
  transition: .3s
// List view
.track-grid-list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 10px
.track-box
  display: flex
  flex-direction: column
  transition: .3s
  &:hover
    transform: scale(1.04)
.track-list
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  transition: .3s
  border-radius: 6px
  padding: 5px
  box-sizing: border-box
  border: 1px solid secondary
  &:hover
    background-color: list
    color: list-letter
.track-list .description
  margin-right: 10px
  text-align: center
.artist-image
  border-radius: 8px
.track-box .play
  color: #fff
  background-color: primary
  padding: 8px
  border-radius: 50%
  position: absolute
  z-index: 999
  display: grid
  grid-template-columns: 1fr
  grid-gap: 10px
  text-align: center
  justify-items: center
  align-items: center
  &:hover
    cursor: pointer
.artist-image-container
  position: relative
.track-list .play
  color: #fff
  background-color: primary
  padding: 8px
  border-radius: 50%
  text-align: center
.track-box .figure
  margin: 0
  padding: 0
  display: flex
  justify-content: center
  align-items: center
.track-list .figure
  display: grid
  grid-template-columns: 1fr 1fr
  justify-items: center
  align-items: center
  width: 30%
  text-align: center
  &:hover {
    cursor: pointer;
  }
.yes
  background-color: red
.no
  background-color: purple