.track-container
  width: 80%
  margin: auto
// Box view
.track-grid-box
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 10px
// List view
.track-grid-list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 10px