.track-container
  width: 80%
  margin: 20px auto 20px auto;
// Box view
.track-grid-box
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 10px
// List view
.track-grid-list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 10px
.track-box
  display: flex
  flex-direction: column
.track-list
  display: flex
  flex-direction: row
  align-items: center