@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import "_vars.styl";
@import "_search-bar.styl"
@import "_track.styl"
@import "_media-query.styl"
@import "_player.styl"
@import "_button.styl"
@import "_home.styl"
body
  font-family: 'Open Sans', sans-serif
  margin: 0
  padding: 0
.parent
  width: 100%;
  background-color: light
  color: black
.parent-dark
  background-color: black
  color: light
p, span, h1, h2, h3, i
  &::selection
    background: primary
    color: light